.custom-card {
  width: 300px;
  margin: 50px;
}

.custom-card-image {
  width: 300px;
  height: 400px;
  cursor: pointer;
}

.green-botton {
  background-color: aqua;
}

.detalle {
  cursor: pointer;
}

@media (max-width: 600px) {
  .custom-card {
    width: 500px;
  }
  .custom-card-image {
    width: 500px;
    height: 500px;
  }
}
